<!doctype html>
<html>
<!-- <link rel="stylesheet" type="text/css" href="stylesheet.css"> -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">

<!-- Refresh page every 60 seconds -->
<head>
  <meta http-equiv="refresh" content="60">
  <style>
  body {
    background-color: black;
  }
  </style>
</head>

<body>


<h4 style="color: white; font-family: Helvetica"> Sedgwick </h4>

<!-- Jinja for train arrivals -->
{% for train in train_list %}
  <div class="rectangle-container">
    <div class="{{ train[3] }}">
      <h3 class="transit-name"> {{ train[1] }} </h3>
      <h3 class="transit-time" id="{{ train[4] }}"> </h3>
    </div>
  </div>
{% endfor %}

<h3 style="color: white; font-family: Helvetica"> North Ave / Sedgwick </h3>

<!-- Jinja for bus arrivals -->
{% for bus in bus_list %}
  <div class="rectangle-container">
    <div class="transit-rectangle-bus">
      <h3 class="transit-name"> {{ bus[0] }} (72) </h3>
      <h3 class="transit-time"> {{ bus[1] }} min </h3>
    </div>
  </div>
{% endfor %}

<!-- Last Refresh Time -->
<p id="demo" style="color: white; font-family: Helvetica"></p>

<script>
var d = new Date();
document.getElementById("demo").innerHTML = d;
</script>

<!-- JavaScript countdown from target_time, display for HTML id -->
<script>
function countdown(target_time, id){
  var countDownDate = new Date(target_time).getTime(); // "Jan 5, 2021 15:37:25"
  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // document.getElementById(id).innerHTML = minutes + "m " + seconds + "s ";
  document.getElementById(id).innerHTML = minutes + "m ";

  if (distance < 420000){
      document.getElementById(id).style.color = 'yellow';
      document.getElementById(id).innerHTML = minutes + "m " + seconds + "s ";
  }
  if (distance < 180000){
      document.getElementById(id).style.color = 'red';
      document.getElementById(id).innerHTML = minutes + "m " + seconds + "s ";
  }

  return minutes, seconds;
}

// Jinja for countdown object generation
{% for train in train_list %}
var {{ train[4] }} = setInterval(function(){
  countdown("{{ train[2] }}", "{{ train[4] }}") // Insert Train Times here
}, 1000);
{% endfor %}

</script>


</body>
</html>
