.rectangle-container {
  text-align: center;
}

.transit-rectangle-Brn {
  background-color: #62371b;
  width: 90%;
  height: 100px;
  display: inline-block;
  border-radius: 10px;
}

.transit-rectangle-purple {
  background-color: #411c86;
  width: 90%;
  height: 100px;
  display: inline-block;
  border-radius: 10px; /* Round corners */
}

.transit-rectangle-bus {
  background-color: #27334c;
  width: 90%;
  height: 100px;
  display: inline-block;
  border-radius: 10px; /* Round corners */
}

.transit-name {
  float: left;
  color: white;
  font-size: 4.2em;
  font-family: Helvetica;
  margin: 20px;
  line-height: 65px;
}

.transit-time {
  float: right;
  color: white;
  font-size: 4.2em;
  font-family: Helvetica;
  margin: 20px;
  line-height: 65px;
}
